[Unit]
Description=aurhub RPC mirror server
After=network.target
Wants=aurhub-indexer.timer

[Service]
Type=simple
StateDirectory=aurhub
WorkingDirectory=%S/aurhub
ExecStartPre=aurhub-indexer --repo %S/aurhub/aur.git --output %S/aurhub/aurhub.snapshot
ExecStart=aurhubd --snapshot %S/aurhub/aurhub.snapshot --port 9090 --address 0.0.0.0
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
Also=aurhub-indexer.timer
